* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background: brown;
}

.__container {
  background: cadetblue;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.__container header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.__container header nav {
  position: fixed;
  top: 0;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to top right, #5699cf, #2685c5, #5fa6e0);
}

.__container header nav .__nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2em;
  transition: 1s;
}

.__container header nav .__nav:hover {
  background: #e0d424;
}

.__container header .header__main {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../Images/max-kleinen-ohQinqTl_DE-unsplash.jpg");
}

.__container header .header__main .__skills {
  height: 100%;
  width: 65%;
}

.__container header .header__main .__profile {
  height: 100%;
  width: 35%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container header .header__main .__profile .__card {
  background: azure;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container header .header__main .__profile .__card .photo__div {
  background: url("../Images/Bishnu-resized.jpg");
  background-position: center;
  background-size: cover;
  width: 75%;
  height: 50%;
  border-radius: 50%;
  margin-top: 10px;
}

.__container header .header__main .__profile .__card .dev__div {
  height: 35%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.__container header .header__main .__profile .__card .dev__div h4 {
  font-weight: 400;
}

.__container header .header__main .__profile .__card .__button {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.__container header .header__main .__profile .__card .__button button {
  width: 100px;
}

.__container header .header__main .__profile .__image {
  cursor: pointer;
  transition: 0.5s;
}

.__container header .header__main .__profile .__image:hover {
  transform: scale(1.01);
  opacity: 1;
}

.__container main {
  height: 100vh;
  width: 100%;
  background: #00a2ff;
}

.__container footer {
  height: 100vh;
  width: 100%;
  background: #d400ff;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */