* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.__container {
  background: url("../Images/max-kleinen-ohQinqTl_DE-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.__container header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.__container header nav {
  position: fixed;
  top: 0;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  background: linear-gradient(to top right, #5699cf, #2685c5, #5fa6e0);
}

.__container header nav .__nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2em;
  transition: 1s;
}

.__container header nav .__nav:hover {
  background: #e0d424;
}

.__container header .header__main {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container header .header__main .__skills {
  height: 100%;
  width: 65%;
}

.__container header .header__main .__profile {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.__container header .header__main .__profile .__card {
  background: azure;
  margin-top: 55px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container header .header__main .__profile .__card .photo__div {
  background: url("../Images/Bishnu-resized.jpg");
  background-position: center;
  background-size: cover;
  width: 75%;
  height: 50%;
  border-radius: 50%;
  margin-top: 10px;
}

.__container header .header__main .__profile .__card .dev__div {
  height: 35%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.__container header .header__main .__profile .__card .dev__div h4 {
  font-weight: 400;
}

.__container header .header__main .__profile .__card .__button {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.__container header .header__main .__profile .__card .__button button {
  background-color: gold;
  border: none;
  width: 100px;
}

.__container header .header__main .__profile .__image {
  cursor: pointer;
  transition: 0.5s;
}

.__container header .header__main .__profile .__image:hover {
  transform: scale(1.01);
  opacity: 1;
}

.__container main {
  height: 300vh;
  width: 100%;
  background: black;
  background-position-y: 300px;
  animation: main 1s linear;
}

.__container main .main__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container main .main__container .main__header {
  color: gold;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  letter-spacing: 20px;
  text-shadow: 10px 10px 10px #adadad;
}

.__container main .main__container .main__main {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container main .main__container .main__main .project__one {
  background: #dddddd;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container main .main__container .main__main .project__one .one__container {
  background: url("/src/Images/bananaMaker.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.__container main .main__container .main__main .project__one .one__info {
  background: #e4e4e4;
  height: 100%;
  width: 100%;
}

.__container main .main__container .main__main .project__two {
  background: #9c7474;
  height: 100%;
  width: 100%;
}

.__container main .main__container .main__main .project__three {
  background: #65a52a;
  height: 100%;
  width: 100%;
}

.__container main .main__container .main__main .project__four {
  background: #2a78a5;
  height: 100%;
  width: 100%;
}

.__container main .main__container .main__main .__projects {
  background: #dddddd;
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.__container footer .footer__container .footer__quick {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container .footer__quick .footer__links {
  height: 100%;
  width: 40%;
  padding: 105px;
  background: linear-gradient(to bottom, #95acc7, #898d94, gray);
}

.__container footer .footer__container .footer__quick .footer__links .links__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container footer .footer__container .footer__quick .footer__links .links__container .links__header {
  background: #c7c7c7;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container .footer__quick .footer__links .links__container .links__header h1 {
  font-weight: 400;
}

.__container footer .footer__container .footer__quick .footer__links .links__container .links__main {
  background: gray;
  height: 80%;
  width: 100%;
  padding: 25px;
  letter-spacing: 5px;
  font-size: 1.2em;
  font-weight: 300;
}

.__container footer .footer__container .footer__quick .footer__links .links__container .links__main ul {
  height: 100%;
  width: 100%;
}

.__container footer .footer__container .footer__quick .footer__form {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container .footer__quick .footer__form .form__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
  background: linear-gradient(to bottom, #759ac7, #898d94, gray);
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
  font-size: 1.2em;
  font-weight: 300;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset {
  padding: 20px;
  background: gray;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset legend h1 {
  font-weight: 400;
  color: whitesmoke;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__name__input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__message__input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__message__input .your__message {
  width: 100%;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__button__input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__button__input .form__button {
  width: 100px;
  cursor: pointer;
}

.__container footer .footer__container .footer__info {
  font-weight: 300;
  background: gold;
  height: 20%;
  width: 100%;
  font-size: 1.2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.__container footer .footer__container .footer__info p {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container .footer__info .contact__logo {
  background: #cfb73e;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes main {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */