* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.__container {
  background: url("../Images/12.jpg");
  background-position: top;
  background-size: cover;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.__container header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.__container header nav {
  position: fixed;
  top: 0;
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  background: linear-gradient(to bottom, #5699cf, #2685c5, #5699cf);
}

.__container header nav .__nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2em;
  transition: 1s;
}

.__container header nav .__nav:hover {
  background: gold;
}

.__container header nav .tabs {
  transition: 0.1s;
}

.__container header .header__main {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.__container header .header__main .__skills {
  color: black;
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background: rgba(108, 150, 184, 0.2);
}

.__container header .header__main .__skills h1 {
  font-weight: 200;
  font-size: 2em;
  letter-spacing: 3px;
}

.__container header .header__main .__skills h1 .popout {
  font-weight: 300;
  font-size: 2em;
  padding: 80px;
}

@keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 gold;
    color: black;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 gold;
    color: black;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em gold;
    color: black;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em gold;
    color: black;
  }
}

.__container header .header__main .__skills h1 .popout span {
  position: relative;
  display: inline-block;
  animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

.__container header .header__main .__skills h1 .popout span:nth-last-child(1n) {
  animation-delay: -0.16667s;
}

.__container header .header__main .__skills h1 .popout span:nth-last-child(2n) {
  animation-delay: -0.33333s;
}

.__container header .header__main .__skills h1 .popout span:nth-last-child(3n) {
  animation-delay: -0.5s;
}

.__container header .header__main .__profile {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background: rgba(108, 150, 184, 0.2);
}

.__container header .header__main .__profile .__card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: azure;
  box-shadow: 5px 5px 5px gold;
}

.__container header .header__main .__profile .__card .photo__div {
  background: url("../Images/Bishnu-resized.jpg");
  background-position: center;
  background-size: cover;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  margin-top: 20px;
}

.__container header .header__main .__profile .__card .dev__div {
  height: 25%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.__container header .header__main .__profile .__card .dev__div h4 {
  font-weight: 400;
}

.__container header .header__main .__profile .__card .__button {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container header .header__main .__profile .__card .__button button {
  background-color: gold;
  border: none;
  width: 100px;
}

.__container header .header__main .__profile .__image {
  cursor: pointer;
  transition: 0.5s;
}

.__container header .header__main .__profile .__image:hover {
  transform: scale(1.01);
  opacity: 1;
}

.__container main {
  background: linear-gradient(to bottom left, #0254cf, #0ea1d6, #0997c2);
  height: auto;
  width: 100%;
  animation: main 1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container main .main__container {
  height: 400vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container main .main__container .__projects {
  height: 300vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container main .main__container .__projects .main__projects {
  height: 100%;
  width: 100%;
  padding: 50px;
}

.__container main .main__container .__projects .project__content {
  background-color: #bdbdbd;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container main .main__container .__projects .project__content .project__content__header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  letter-spacing: 10px;
}

.__container main .main__container .__projects .project__content .project__content__main {
  height: 100%;
  width: 100%;
}

.__container main .main__container .__projects .project__content .project__content__footer {
  height: 100%;
  width: 100%;
}

.__container main .main__container .__projects .__one {
  height: 100%;
  width: 100%;
}

.__container main .main__container .__projects .__one .container__one {
  background-color: blanchedalmond;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container main .main__container .__projects .__two {
  height: 100%;
  width: 100%;
}

.__container main .main__container .__projects .__two .container__two {
  background-color: blanchedalmond;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container main .main__container .__projects .__three {
  height: 100%;
  width: 100%;
}

.__container main .main__container .__projects .__three .container__three {
  background-color: blanchedalmond;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container main .main__container .__projects .__four {
  height: 100%;
  width: 100%;
}

.__container main .main__container .__projects .__four .container__four {
  background-color: blanchedalmond;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container main .main__container .about__me {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.__container main .main__container .about__me .about__me__one {
  background: linear-gradient(to bottom left, #c9c7c7, #9fb2bb, #bdbdbd);
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  box-shadow: 5px 5px 5px lightgray;
}

.__container main .main__container .about__me .about__me__one .about__me__header {
  width: 100%;
  height: 30%;
  letter-spacing: 5px;
  font-size: 1.5em;
  margin-left: 1.2em;
  margin-bottom: 1.2em;
}

.__container main .main__container .about__me .about__me__one .about__me__profile {
  background-color: #dddddd;
  height: 100%;
  width: 100%;
  padding: 1.2em;
}

.__container main .main__container .about__me .about__me__two {
  height: 100%;
  width: 40%;
  padding: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main .skills {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 1.1em;
  box-shadow: 5px 3px 1px #bdbdbd;
  transition: 1s;
  cursor: pointer;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main .skills:hover {
  transform: scale(1.2);
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #oop {
  background: url("../Images/agile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #java {
  background: url("../Images/java.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #javascript {
  background: url("../Images/javascript.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #css {
  background: url("../Images/css.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #html {
  background: url("../Images/html.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #spring__boot {
  background: url("../Images/spring-boot-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #mvc {
  background: url("../Images/mvc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #tdd {
  background: url("../Images/tdd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #sql {
  background: url("../Images/sql.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #restful__api {
  background: url("../Images/ea4b66f96009bcbb8dcaeb2607f98199356d9fb4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #communication {
  background: url("../Images/communication.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container main .main__container .about__me .about__me__two .about__me__two__main #time__management {
  background: url("../Images/time.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.__container footer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.__container footer .footer__container .footer__quick {
  display: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container .footer__quick .footer__form {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container .footer__quick .footer__form .form__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
  font-size: 1.2em;
  font-weight: 300;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset {
  padding: 20px;
  background: #acacac;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset legend h1 {
  font-weight: 400;
  color: whitesmoke;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__name__input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__message__input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__message__input .your__message {
  width: 100%;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__button__input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.__container footer .footer__container .footer__quick .footer__form .form__container form fieldset .form__button__input .form__button {
  width: 100px;
  cursor: pointer;
}

.__container footer .footer__container .footer__info {
  font-weight: 300;
  background: gold;
  height: 10%;
  width: 100%;
  font-size: 1.2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.__container footer .footer__container .footer__info p {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__container footer .footer__container .footer__info .contact__logo {
  background: #cfb73e;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes main {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */