$t: 1s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.86, 0, 0.07, 1);
$front: black;
$back: rgb(204, 204, 204);
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
  // font-family: "Cairo", sans-serif;
  font-family: "Mukta", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
}
.__container {
  background: url("../Images/12.jpg");
  background-position: top;
  background-size: cover;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    nav {
      position: fixed;
      top: 0;
      height: 8%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      z-index: 1;
      background: linear-gradient(
        to bottom,
        rgb(86, 153, 207),
        rgb(38, 133, 197),
        rgb(86, 153, 207)
      );
      .__nav {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 2em;
        transition: 1s;

        &:hover {
          // background: gray;
        }
        a {
          color: rgb(218, 218, 218);
        }
      }
      .tabs {
        transition: 0.1s;
        &:hover {
          font-size: 1.2em;
        }
      }
    }
    .header__main {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 25px;
      .__skills {
        color: black;
        height: 100%;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
        background: rgba(108, 150, 184, 0.2);

        h1 {
          font-weight: 200;
          font-size: 2em;
          letter-spacing: 3px;
          .popout {
            // font-family: Futura, sans-serif;
            font-weight: 300;
            font-size: 2em;
            // letter-spacing: 3px;
            padding: 80px;

            @keyframes ani {
              0% {
                transform: translate3d(0, 0, 0);
                text-shadow: 0em 0em 0 $back;
                color: $front;
              }
              30% {
                transform: translate3d(0, 0, 0);
                text-shadow: 0em 0em 0 $back;
                color: $front;
              }
              70% {
                transform: translate3d($d, -$d, 0);
                text-shadow: -$d $d $back;
                color: $front;
              }
              100% {
                transform: translate3d($d, -$d, 0);
                text-shadow: -$d $d $back;
                color: $front;
              }
            }
            span {
              position: relative;
              display: inline-block;
              animation: ani $t infinite alternate $e;
              @for $i from 1 through $n {
                &:nth-last-child(#{$i}n) {
                  animation-delay: -$t * $i/$n/2;
                }
              }
            }
          }
        }
      }
      .__profile {
        height: 100%;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
        background: rgba(108, 150, 184, 0.2);
        .__card {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: azure;
          box-shadow: 5px 5px 5px gray;
          .photo__div {
            background: url("../Images/Bishnu-resized.jpg");
            background-position: center;
            background-size: cover;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            margin-top: 20px;
          }
          .dev__div {
            height: 25%;
            width: 100%;
            text-align: center;
            font-size: 1.5em;

            h4 {
              font-weight: 400;
            }
          }
          .__button {
            height: 25%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              background-color: gray;
              border: none;
              width: 100px;
            }
          }
        }
        .__image {
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            transform: scale(1.01);
            opacity: 1;
          }
        }
      }
    }
  }
  main {
    background: linear-gradient(
      to bottom left,
      rgb(2, 84, 207),
      rgb(14, 161, 214),
      rgb(9, 151, 194)
    );
    height: auto;
    width: 100%;
    animation: main 1s linear;
    display: flex;
    justify-content: center;
    align-items: center;

    .main__container {
      height: 400vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .__projects {
        height: 300vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .main__projects {
          height: 100%;
          width: 100%;
          padding: 50px;
        }
        .project__content {
          background-color: rgb(189, 189, 189);
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .project__content__header {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            letter-spacing: 10px;
          }
          .project__content__main {
            height: 100%;
            width: 100%;
          }
          .project__content__footer {
            height: 100%;
            width: 100%;
          }
        }
        .__one {
          height: 100%;
          width: 100%;
          .container__one {
            background-color: blanchedalmond;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .__two {
          height: 100%;
          width: 100%;
          .container__two {
            background-color: blanchedalmond;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .__three {
          height: 100%;
          width: 100%;
          .container__three {
            background-color: blanchedalmond;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .__four {
          height: 100%;
          width: 100%;
          .container__four {
            background-color: blanchedalmond;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .about__me {
        height: 100vh;
        width: 100%;
        // background: linear-gradient(
        //   to bottom left,
        //   rgb(52, 127, 189),
        //   rgb(131, 180, 196),
        //   rgb(44, 126, 151)
        // );
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;

        .about__me__one {
          background: linear-gradient(
            to bottom left,
            rgb(201, 199, 199),
            rgb(159, 178, 187),
            rgb(189, 189, 189)
          );
          height: 100%;
          width: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 25px;
          box-shadow: 5px 5px 5px rgb(211, 211, 211);
          .about__me__header {
            width: 100%;
            height: 30%;
            letter-spacing: 5px;
            font-size: 1.5em;
            margin-left: 1.2em;
            margin-bottom: 1.2em;
          }
          .about__me__profile {
            background-color: rgb(221, 221, 221);
            height: 100%;
            width: 100%;
            padding: 1.2em;
          }
        }
        .about__me__two {
          height: 100%;
          width: 40%;
          padding: 1.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          .about__me__two__main {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;

            .skills {
              border-radius: 50%;
              width: 50px;
              height: 50px;
              margin: 1.1em;
              box-shadow: 5px 3px 1px rgb(189, 189, 189);
              transition: 1s;
              cursor: pointer;
              &:hover {
                transform: scale(1.2);
              }
            }
            #oop {
              background: url("../Images/agile.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #java {
              background: url("../Images/java.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #javascript {
              background: url("../Images/javascript.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #css {
              background: url("../Images/css.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #html {
              background: url("../Images/html.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #spring__boot {
              background: url("../Images/spring-boot-logo.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #mvc {
              background: url("../Images/mvc.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #tdd {
              background: url("../Images/tdd.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #sql {
              background: url("../Images/sql.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #restful__api {
              background: url("../Images/ea4b66f96009bcbb8dcaeb2607f98199356d9fb4.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #communication {
              background: url("../Images/communication.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            #time__management {
              background: url("../Images/time.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
  }
  footer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__container {
      // background: yellow;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .footer__quick {
        display: none;
        height: 100%;
        width: 100%;
        // background: chartreuse;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer__form {
          height: 100%;
          width: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
          .form__container {
            // background: green;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 100px;
            form {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 90px;
              height: 100%;
              width: 100%;
              letter-spacing: 5px;
              font-size: 1.2em;
              font-weight: 300;
              fieldset {
                padding: 20px;
                background: rgb(172, 172, 172);
                width: 75%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                legend {
                  h1 {
                    font-weight: 400;
                    color: whitesmoke;
                  }
                }
                .form__name__input {
                  height: 100%;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: flex-start;
                  flex-direction: column;
                }
                .form__message__input {
                  height: 100%;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: flex-start;
                  flex-direction: column;
                  .your__message {
                    width: 100%;
                  }
                }
                .form__button__input {
                  height: 100%;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: flex-start;
                  flex-direction: column;

                  .form__button {
                    width: 100px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
      .footer__info {
        font-weight: 300;
        // background: linear-gradient(
        //   to top right,
        //   rgb(86, 153, 207),
        //   rgb(38, 133, 197),
        //   rgb(95, 166, 224)
        // );
        background: gray;
        height: 10%;
        width: 100%;
        font-size: 1.2em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        p {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .contact__logo {
          background: rgb(172, 169, 169);
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
      }
    }
  }
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes main {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
